#root {
  margin: 0 0;
}

button.call-taxi-button {
  border-radius: 8px;
  border: 2px solid black;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background: #ffd772;
  color: black;
  position: fixed;
  left: 50%;
  top: 70%;
  margin-left: -10rem;
  margin-top: -2rem;
  width: 20rem;
  height: 4rem;
  z-index: 1;

  img {
    width: 1.5rem;
    height: 1.5rem;
  }

  span {
    top: -0.1rem;
    left: 0.5rem;
    position: relative;
  }
}
